#detail-page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#detail-background-image {
    width: 100%;
    min-height: 467px;
}

#detail-background-container {
    height: 467px;
}

#detail-background-text-container
{
    background: #34495e;
    display: block;
    color: white;
    opacity: 0.92;
    height: 300px;
    position: relative;
    width: 35%;
    top: -400px;
    left: 50px;
    padding-top: 3px;
    padding-left: 15px;
}

#detail-page-perks-container
{
    background: black;
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#detail-page-perk
{
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
    justify-content: center;
}

.detail-page-perk-image {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.detail-page-perk
{
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
    justify-content: center;
    max-width: 300px;
    text-align: center;
}

#detail-page-section1 {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    font-weight: bold;
    white-space: nowrap;
}

#detail-page-section1-videos
{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

#detail-page-section1-videos img,
#detail-page-section2-videos img
{
    width: 256px;
    height: 180px;
}

#detail-page-section2
{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    background: rgb(230, 240, 241);
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 30px;
}

#detail-page-section2-videos
{
    display: flex;
    padding-top: 30px;
    justify-content: space-around;
}

#detail-page-sell
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
    font-weight: bold;
    background: rgb(248, 193, 46);
    text-align: center;
}

#detail-page-calltoaction
{
    border: 2px solid black;
    margin-top: 30px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
